.b{
    font-weight: bold;  
    font-size: 22px;
    border: 1px solid rgb(183, 38, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(183, 38, 255);
    color: azure;
    
    
  }
  
  .brooklyn{
    font-weight: bold;  
    font-size: 22px;
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
  
  }
  
  .top-name{
    display: flex;
    flex-direction: row;
    
    
    
  }
  
  .top---bar{
   
   
  
  }
  
  .topbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    
    
    
  
  }
  .topbar li{
   
  height: 35px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  
  .topbar li a{
     
    font-size: 17px;
  text-decoration: none; 
  color: black;
  
  
  }
  .topbar :hover{
        background-color: rgb(183, 38, 255);
        border-radius: 7px;
        color: azure;
      
  }
  
  
  
  
  
  
  .flextop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .toparea{
    
  }
  
  #intro{
    font-size: 50px;
   
    width: 400px;
  }
  #intro-para{
    
    width: 500px;
    
  }
  #hello{
    text-decoration: none;
    color: azure;
    
   
  
  }
  .hello{
  
     display: flex;
     justify-content: center;
     align-items: center;
    border: 1px solid rgb(183, 38, 255);
    background-color: rgb(183, 38, 255);
    border-radius: 5px;
  
    height: 35px;
    width: 85px;
   
  }
  .list{
   
    margin-top: 150px;
    
    width: 600px;
  }
  #list{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    
  
  }
  #list li{
   
    border-radius: 5px;
    background-color: rgb(233, 217, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin-right: 10px;
  }
  
  .middle{
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: azure;
    
    
  }
  
  
  
  
  .bottom-intro{
    margin-top: 100px;
  }
  #intro2{
    
    width: 400px;
  }
  #p1{
   
    width: 480px;
  }
  #p2{
   
    width: 480px;
  }
  .box{
    
    width: 400px;
    
   
  }
  #box{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
   
   
  }
  
  #box li a{
    text-decoration: none;
    
  }
  #my{
    border: 1px solid rgb(183, 38, 255);
    background-color: rgb(183, 38, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
  }
  #my a{
    color: azure;
  }
  
  #cv{
    border: 2px solid rgb(183, 38, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
  }
  #cv a{
    color: rgb(183, 38, 255);
  }
  .flex-middle{
   
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .bottom-intro{
   
    height: 500px;
    
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
  #work{
   
    font-size: 40px;
    width: 250px;
  }
  #p11{
    
    width: 470px;
  }
  #p12{
   
    width: 470px;
  }
  .bot{
   
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 550px;
  }
  
  
  #list1{
    list-style: none;
    display: flex;
    
  align-items: center;
  flex-wrap: wrap;
  width: 550px;
  padding-left: 0px;
  
  }
  
  #list1 li{
    border: 2px solid white;
    border-radius: 10px;
    width: 250px;
    background-color: white;
    margin-right: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
   
    justify-content: center;
  align-items: flex-start;
  
  
   
   
  }
  
  #list1 li h1{
    padding-left: 5px;
  }
  #list1 li p{
   padding-left: 5px;
  }
  
  
  .bottom-area{
   padding-top: 70px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(219, 218, 218);
  }
  